.App-header {
    display: flex;
    align-items: center;
    color: #E0354B;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid #E0354B;
  }
  
  .App-header > img {
    width: 150px;
  }